@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --light:#FFFFFF;
    --light-blue:#28AADC;
    --light-green:#64EBB6;
    --dark:#000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
section.header{
    overflow: hidden;
    display: block;
    height: 100vh;
    max-height: 100vh;
}
section.header .content{
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
section.header .content .text{
        padding: 0 25px;
        max-width: 510px;

}
section.header .content .text h1{
    color: var(--light-blue);
    line-height:1.2;
    font-size:50px;
    font-weight: 400;
}
section.header .content .text h3{
    max-width: 350px;
    color: #707b8e;
    font-size:20px;
    line-height: 1.2;
    font-weight: 400;

}
section.header .content .text .btns{
    display: flex;
    
}
section.header .content .text .btns a{
    text-decoration: none;
}

section.header .content .text .btns a .download-btn{
    font-size:20px; 
    /* width: 30%; */
    text-align: center;
    vertical-align: middle;
    color: var(--light);
    padding: 7px 15px;
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--light-green) 100%);
    border-radius:16px;

}
section.header .content .text .btns a .use-btn{
    font-size:20px; 
    /* width: 30%; */
    margin-left:15px;
    text-align: center;
    vertical-align: middle;
    color: var(--light);
    padding: 7px 15px;
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--light-green) 100%);
    border-radius:16px;
}
.blob { 
    z-index: -1;
    position: absolute;
    right: 20%;
    top: 33%;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-30 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%2308AEEA%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%232AF598%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M821.5%2C657Q814%2C814%2C657%2C890Q500%2C966%2C341.5%2C891.5Q183%2C817%2C185%2C658.5Q187%2C500%2C180.5%2C337Q174%2C174%2C337%2C183Q500%2C192%2C614.5%2C231.5Q729%2C271%2C779%2C385.5Q829%2C500%2C821.5%2C657Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M821.5%2C657Q814%2C814%2C657%2C890Q500%2C966%2C341.5%2C891.5Q183%2C817%2C185%2C658.5Q187%2C500%2C180.5%2C337Q174%2C174%2C337%2C183Q500%2C192%2C614.5%2C231.5Q729%2C271%2C779%2C385.5Q829%2C500%2C821.5%2C657Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
  }
  .blob2 { 
    z-index: -1;
    position: absolute;
    right: 5%;
    top: 5%;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(-30 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%2308AEEA%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%232AF598%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M819%2C608.5Q717%2C717%2C608.5%2C795Q500%2C873%2C357%2C829.5Q214%2C786%2C159.5%2C643Q105%2C500%2C163.5%2C361Q222%2C222%2C361%2C165Q500%2C108%2C667%2C137Q834%2C166%2C877.5%2C333Q921%2C500%2C819%2C608.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M819%2C608.5Q717%2C717%2C608.5%2C795Q500%2C873%2C357%2C829.5Q214%2C786%2C159.5%2C643Q105%2C500%2C163.5%2C361Q222%2C222%2C361%2C165Q500%2C108%2C667%2C137Q834%2C166%2C877.5%2C333Q921%2C500%2C819%2C608.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
  }
  #app-ss{
    z-index: -1;
    position: absolute;
    right: 20%;
    top: 20%;
    width: 300px;
    height: auto;
  }
  
/* section.features{
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: center;

} */

.features{
    height:100vh ;
    
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--light-green) 100%);
}

@media (max-width: 768px) {
    #app-ss{
        display: none;
    }
    .blob2{
        opacity: 0.6;
        top: 1%;
        right:0%;
        width: 300px;
        height: 300px;
    }
    .blob{
        opacity: 0.6;
        width: 400px;
        height: 400px;
    }
}